<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="container" style="height:80px;">

</div>
<main role="main">
    <router-outlet></router-outlet>


    <app-footer></app-footer>
</main>

<!-- <form>
    <input type="file" (change)="onFileChange($event)" >
    <button type="submit" class="btn btn-success">Submit</button>
</form>

<img src={{imageUrl}} #image style="border:1px solid black; width:100px;height:100px;">

<p>{{metaData | json}}</p> -->
<!-- <app-carousel></app-carousel> -->